.mywork{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:80px;
    margin:80px 100px;
}
.mywork-title{
   position:relative;
}
.mywork-title::before{
    content:"";
    position:absolute;
    top:50px;
    left:0px;
    height:6px;
    width:100%;
    background:red;
    border-radius:10px;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
 }
.mywork-title h1{
    padding:0px 30px;
    font-size:40px;
    font-weight:600;
 }
 .mywork-container img{
    width:419px;
    height:280px;
    border-radius:10px;
    box-sizing: border-box;
    transition:0.4s;
    cursor: pointer;
 }
 .mywork-container img:hover{
    transform: scale(1.07);
    border:3px solid #B923E1;
 }
 .mywork-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
 }
 .mywork-showmore{
    border-radius:50px;
    border:2px solid #000;
    padding:30px 60px;
    font-size:22px;
    font-weight:500;
    margin-bottom: 80px;
    transition:0.6s;
    cursor: pointer;
 }










 @media(max-width:1000px){
     .mywork{
        margin:50px 20px;
     }
     .mywork-title::before{
          top:30px;
     }
     .mywork-title h1{
       font-size:20px;
     }
     .mywork-container{
      display:flex;
      flex-direction:column;
      align-items:center;
     }
     .mywork-container img{
      width:90%;
     }
     .mywork-showmore{
      padding:10px 30px;
     }
     .mywork-showmore p{
        font-size:16px;
     }
 }