
.about{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:80px;
    margin:80px 100px;
}
.about-title{
    position:relative;
}
.about-title::before{
    content: "";
    position:absolute;
    top:50px;
    left:0px;
    height:6px;
    width:100%;
    background:red;
    border-radius:10px;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
}
.about-title h1{
    padding:0 30px;
    font-weight:80px;
    font-weight:600;
}
.about-section{
    display:flex;
    gap:80px;
}
.about-left img{
    border-radius:10px;
    outline:3px solid #B923E1;
    box-shadow:1px 1px 10px #B923E1;
} 
.about-right{
    display:flex;
    flex-direction:column;
    gap:80px;
}
.about-para{
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size:24px;
    font-weight:500;
}

.about-skills{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.about-skill{
    display:flex;
    gap:50px;
    align-items:center;
    transition:0.3s;
}
.about-skill:hover{
    transform:scale(1.05) ;
    transition:0.3s;
}
.about-skill p{
    min-width:150px;
    font-size:24px;
    font-weight:500;
}
.about-skill hr{
    outline:none;
    border:none;
    height:8px;
    width:50%;
    border-radius:50px;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
}

.about-achivements{
    display:flex;
    width:100%;
    justify-content: space-around;
    margin-bottom:80px;
}
.about-achivement{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    transition:0.5s;
}
.about-achivement:hover{
    transform:scale(1.12) ;
    transition:0.3s;
}
.about-achivement h1{
    font-size:60px;
    font-weight:700;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achivement p{
    font-size:22px;
    font-weight:500;
}



@media(max-width:1000px){
    .about{
        gap:80px;
        margin:50px 25px;
    }
    .about-title h1{
        font-size:20px;
    }
    .about-title::before{
        top:40px;
    }
    .about-section{
        flex-direction:column;
    }
    .about-left{
       display:flex;
       justify-content:center;
    }
    .about-left img{
        width:90%;
    }
    .about-achivements{
        justify-content:space-between;
    }
    .about-achivement{
        gap:10px;
    }
    .about-achivement h1{
        font-size:34px;
        font-weight:700;
    }
    .about-achivement p{
        text-align:center;
        font-size:16px;
    }
}
@media(max-width:400px){

}
